<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb--3">
          <label for="">username</label>
          {{form.username}}
          <br />
          <label for="">password</label>
          {{form.password}}
        </div>

        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
