{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
   <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
  </head>
  <body>
    <nav class="container">
      <a href="{% url "home" %}">Home</a>
      <a href="{% url "blog:post_list" %}">Posts</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'blog/js/main.js' %}"></script>
  </body>
</html>
